$base-unit: 40px;

$grey: #444;
$grey-light: lighten($grey, 60%);

$primary-color: #26343F;
$secondary-color: #1a242d;

$bg-color: $primary-color;
$fg-color: #fff;
$accent-color: #00b299;
$secondary-accent-color: #F2784B;

html,
body,
body > .row,
.app-panel, 
.app-panel-inner {
    // height: inherit;
}

body {
    background-color: $bg-color;
    color: $fg-color;
}

.app-panel {

    .app-panel-heading {
        color: $accent-color;
        border: 10px solid $bg-color;
        padding: $base-unit / 2;

        hr {
            border-color: $accent-color;
            margin: $base-unit / 4 0;
        }

        h3 {
            margin: 0;
        }
    }

    .app-panel-body {
        color: $fg-color; 
    }
}

.tweet-list {
    overflow-y: scroll;
}

.tweet {
    padding: $base-unit / 2;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: $bg-color;
}

.spinner {
    font-size: 1.5em;
    padding: $base-unit;
    text-align: center;

    .fa {
        font-size: 2em;
    }
}

.app-panel-left {
    // border-right: 1px solid $accent-color;
    background-color: $secondary-color; 
    padding-right: 0;

    .spinner {
        background-color: $bg-color;
        color: $accent-color;
    }
}

.app-panel-right {

    .spinner {
        margin-top: $base-unit * 2;
    }
}

.analysis-results {
    text-align: center;
    margin-top: $base-unit * 4;

    h2 {
        font-size: 4em;
    }
}